<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monitorizador</title>
</head>

<body>
    <h1>Datos del planificador <span id="id_planificador"></span></h1>
    <p>Última ejecución: <span id="ultima_ejecucion"></span></p>
    <p>Última actualización: <span id="ultima_actualizacion"></span></p>

    <script>
        setInterval(async () => {
          const response = await fetch("/api/planificador/latest_insiders_trading");
    
          const data = await response.json();
    
          console.log(data);
    
          const id_planificador = document.getElementById("id_planificador");
          id_planificador.textContent = `${data.id_planificador}`;
    
          const ultima_ejecucion = document.getElementById("ultima_ejecucion");
          ultima_ejecucion.textContent = `${data.ultima_ejecucion}`;

          const ultima_actualizacion = document.getElementById("ultima_actualizacion");
          ultima_actualizacion.textContent = `${data.ultima_actualizacion}`;

        }, 3600000);
        <!-- Ejecutar cada 1 hora -->
    </script>

</body>